:root {
    --md-primary-fg-color: #1060ff;
  
  }
* {
    --md-typeset-a-color: #4884fb;
    --md-accent-fg-color: #4884fbcc;
}

[data-md-color-scheme="slate"] {
    --md-hue: 220; /* [0, 360] */
  }
